<div class="blade-content __xxlarge-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <div ng-if="blade.data" class="comparison-header">
        <table class="comparison-list" ng-style="{'width': blade.totalWidth + 'px'}">
          <colgroup>
            <col ng-style="{'width': blade.markerColWidth + 'px'}" />
            <col ng-style="{'width': blade.nameColWidth + 'px'}" />
            <col ng-repeat="(index, environment) in blade.data.comparedEnvironments" ng-style="{'width': blade.valueColWidth + 'px'}" />
          </colgroup>
          <thead>
            <tr class="comparison-list-header">
              <th></th>
              <th class="comparison-settings-name">{{ 'environments-compare.blades.environments-comparison.labels.setting-name' | translate }}</th>
              <th ng-repeat="(index, environment) in blade.data.comparedEnvironments" ng-class="{'environment-error': environment.errorMessage, 'environment-name-clickable': !environment.isComparisonBase }" ng-click="blade.setBaseEnvironment(environment)"><span ng-if="!environment.isComparisonBase" class="fas fa-microscope"></span>{{ environment.environmentName }}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div ng-if="blade.data" class="comparison-container" onscroll="syncScroll()">
        <table class="comparison-list" ng-style="{'width': blade.totalWidth + 'px'}">
          <colgroup>
            <col ng-style="{'width': blade.markerColWidth + 'px'}" />
            <col ng-style="{'width': blade.nameColWidth + 'px'}" />
            <col ng-repeat="(index, environment) in blade.data.comparedEnvironments" ng-style="{'width': blade.valueColWidth + 'px'}" />
          </colgroup>
          <tbody>
            <tr class="comparison-environments-summary">
              <td></td>
              <td class="comparison-environments-summary-title">{{ 'environments-compare.blades.environments-comparison.labels.environment-summary' | translate }}</td>
              <td ng-repeat="(index, environment) in blade.data.comparedEnvironments" ng-class="{'environment-error': environment.errorMessage }">{{ environment.errorMessage }}</td>
            </tr>

            <tr ng-if="0" ng-repeat-start="(scopeIndex, settingScope) in blade.data.settingScopes" />

            <tr class="comparison-settings-scope-header">
              <td class="scope-marker-{{scopeIndex}}"></td>
              <td class="comparison-settings-scope-name">{{ settingScope.scopeName }}</td>
              <td ng-repeat="(environmentIndex, environment) in blade.data.comparedEnvironments" ng-class="{'environment-error': environment.errorMessage }"></td>
            </tr>

            <tr ng-if="0" ng-repeat-start="(groupIndex, settingGroup) in settingScope.settingGroups" />

            <tr class="comparison-settings-group-header">
              <td class="scope-marker-{{scopeIndex}}"></td>
              <td class="comparison-settings-group-name">{{ settingGroup.groupName }}</td>
              <td ng-repeat="(environmentIndex, environment) in blade.data.comparedEnvironments" ng-class="{'environment-error': environment.errorMessage }"></td>
            </tr>

            <tr ng-if="0" ng-repeat-start="(settingIndex, setting) in settingGroup.settings" />
            <tr ng-class="{'comparison-diff': blade.anyEnvironmentComparedValueHasDiff(setting) }">
              <td class="scope-marker-{{scopeIndex}}"></td>
              <td class="comparison-settings-name">{{ setting.name }}</td>
              <td ng-repeat="(environmentIndex, environment) in blade.data.comparedEnvironments" ng-class="{'comparison-diff': !environment.errorMessage && blade.environmentComparedValueHasDiff(setting, environment.environmentName), 'environment-error': environment.errorMessage }">{{ blade.getComparedValueOrError(setting,  environment.environmentName) }}</td>
            </tr>

            <tr ng-if="0" ng-repeat-end />

            <tr ng-if="0" ng-repeat-end />

            <tr ng-if="0" ng-repeat-end />
          </tbody>
        </table>
      </div>
      <div class="note" ng-if="blade.data && blade.data.settingScopes && !blade.data.settingScopes.length">{{ 'platform.list.no-data' | translate }}</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function syncScroll() {
    const source = document.getElementsByClassName('comparison-container')[0];
    const target = document.getElementsByClassName('comparison-header')[0];
    target.scrollLeft = source.scrollLeft;
  }
</script>